# Dependencies
node_modules/
/node_modules
.pnpm/

# Build outputs
.next/
out/
dist/
.turbo/

# Logs
*.log

# Env
.env
.env.local
.env.*.local

# OS / IDE
.DS_Store
.vscode/
.idea/

# Misc
*.tsbuildinfo
